In [2]:
import os 
import glob
filename = os.path.join('data','03_Prod.mdout')
f = open(filename, 'r')
data = f.readlines()
f.close()
f_write = open('totE.txt', 'w+')
for line in data:
    if 'Etot' in line:
        f_write.write(f'{line.split()[2]}\n')
f_write.close()

In [4]:
!cat totE.txt

-4585.1049
-4573.5326
-4548.1223
-4525.3410
-4542.8995
-4550.9376
-4543.8652
-4570.4109
-4550.4225
-4585.2078
-4577.3788
-4583.5594
-4605.5086
-4615.4200
-4583.6069
-4534.2492
-4571.4911
-4580.2937
-4555.4327
-4567.5687
-4566.0038
-4547.9737
-4603.6717
-4611.0889
-4694.2189
-4678.6558
-4679.2889
-4650.4214
-4637.4849
-4677.2461
-4659.6974
-4592.8300
-4622.1237
-4626.0868
-4614.5996
-4625.5348
-4569.7752
-4625.0792
-4653.4614
-4637.6852
-4643.8673
-4619.5255
-4663.3843
-4631.8386
-4680.3524
-4722.1579
-4696.5022
-4729.6126
-4703.1835
-4707.8668
-4660.0768
-4673.0967
-4656.3795
-4627.9210
-4599.7806
-4648.8831
-4649.4773
-4665.3345
-4693.9727
-4726.4832
-4744.9909
-4788.9469
-4724.8673
-4724.9143
-4685.3320
-4721.0018
-4755.1232
-4810.7441
-4796.7949
-4737.2496
-4735.1629
-4733.8855
-4781.2227
-4789.1473
-4813.7562
-4817.4775
-4822.1009
-4788.4856
-4816.5778
-4843.6187
-4867.3389
-4829.6258
-4839.4063
-4856.7404
-4827.9999
-4789.4960
-4807.4737
-4822.8427
-4841.7963
-4852.5445
-4794.1774
-4795.4408
-4843.1092
-4861.5219
-4861.1394
-4874.9262
-4895.8931
-4925.8895
-4973.8736
-4988.7908
-4945.5981
-4916.3219
-4921.4063
-4911.1395
-4874.5853
-4874.5310
-4881.8810
-4891.6363
-4896.9142
-4912.6121
-4904.3068
-4929.8410
-4953.1665
-4984.0176
-4980.7061
-4938.8474
-4963.1656
-4955.5246
-4906.5723
-4930.7026
-4928.7367
-4857.1610
-4886.8174
-4817.6888
-4872.9481
-4894.4047
-4885.6957
-4923.2417
-4897.3522
-4892.6689
-4893.3622
-4838.7241
-4836.7701
-4760.9359
-4784.3831
-4744.1472
-4728.4061
-4750.2233
-4867.9914
-4923.5577
-4897.1107
-4911.9463
-4915.2124
-4877.7660
-4853.0504
-4857.4078
-4825.9871
-4812.0551
-4846.6835
-4846.4495
-4878.3125
-4932.9309
-4942.1183
-4939.3920
-4911.1468
-4917.1998
-4925.0586
-4901.7294
-4904.7184
-4881.9266
-4853.0225
-4887.5130
-4842.1109
-4846.9808
-4862.7402
-4851.7519
-4909.4545
-4914.8171
-4915.2172
-4930.1387
-4953.7774
-4901.9891
-4905.8510
-4926.3257
-4917.3863
-4942.2224
-4952.2746
-4916.1854
-4861.9952
-4877.2959
-4826.5819
-4876.5468
-4846.8424
-4843.3569
-4842.7350
-4834.5641
-4793.4512
-4854.0441
-4874.9529
-4835.5704
-4855.0431
-4865.4151
-4846.5908
-4807.5877
-4811.5955
-4835.6643
-4846.6731
-4851.4884
-4886.9112
-4858.1232
-4869.2450
-4907.4877
-4954.8636
-4942.2690
-5004.3931
-4980.6333
-4959.0934
-4942.9824
-4882.6145
-4857.1325
-4916.5311
-4894.3503
-4912.1722
-4912.5805
-4939.9299
-4923.4478
-4885.8822
-4879.1104
-4871.2521
-4846.9889
-4870.2887
-4814.2051
-4782.7933
-4827.9125
-4849.4257
-4896.8849
-4898.4300
-4887.3311
-4920.3260
-4929.5851
-4961.0590
-4904.5845
-4913.8577
-4893.3502
-4872.0999
-4799.1635
-4844.1789
-4857.2238
-4852.7959
-4937.0545
-4932.0827
-4903.7197
-4917.5152
-4917.0623
-4929.6231
-4911.2961
-4900.8126
-4872.0052
-4894.1473
-4926.5634
-4936.8213
-4873.3118
-4926.9161
-4915.6954
-4905.3008
-4890.1921
-4882.1300
-4916.5499
-4886.9469
-4850.5461
-4859.8111
-4846.7970
-4842.1241
-4858.2108
-4826.8505
-4795.8374
-4811.9221
-4888.6634
-4909.6700
-4933.4484
-4977.5063
-4992.3263
-4977.7844
-4966.7665
-4972.1345
-4947.9832
-4974.7886
-4973.9220
-4942.2304
-4943.4810
-4932.4172
-4962.9499
-4951.6520
-4942.7002
-4982.3862
-4983.9897
-4983.2188
-4997.9833
-5056.4832
-5022.3178
-4990.2883
-4955.9855
-4922.5797
-4918.2425
-4901.2145
-4864.5383
-4869.5219
-4922.5511
-4917.4126
-4928.8228
-4829.8013
120.4662

In [5]:
import pandas as pd

In [6]:
periodic_data = pd.read_csv('PubChemElements_all.csv')

In [7]:
periodic_data.head()

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,20.28,0.000090,Nonmetal,1766
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.00,0.534000,Alkali metal,1817
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.00,1.850000,Alkaline earth metal,1798
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.00,2.370000,Metalloid,1808

In [8]:
periodic_data.head(10)

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,20.28,0.000090,Nonmetal,1766
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.00,0.534000,Alkali metal,1817
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.00,1.850000,Alkaline earth metal,1798
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.00,2.370000,Metalloid,1808
5,6,C,Carbon,12.011000,909090,[He]2s2 2p2,2.55,170.0,11.260,1.263,"+4, +2, -4",Solid,3823.00,4098.00,2.267000,Nonmetal,Ancient
6,7,N,Nitrogen,14.007000,3050F8,[He] 2s2 2p3,3.04,155.0,14.534,NaN,"+5, +4, +3, +2, +1, -1, -2, -3",Gas,63.15,77.36,0.001251,Nonmetal,1772
7,8,O,Oxygen,15.999000,FF0D0D,[He]2s2 2p4,3.44,152.0,13.618,1.461,-2,Gas,54.36,90.20,0.001429,Nonmetal,1774
8,9,F,Fluorine,18.998403,90E050,[He]2s2 2p5,3.98,135.0,17.423,3.339,-1,Gas,53.53,85.03,0.001696,Halogen,1670
9,10,Ne,Neon,20.180000,B3E3F5,[He]2s2 2p6,NaN,154.0,21.565,NaN,0,Gas,24.56,27.07,0.000900,Noble gas,1898

In [9]:
periodic_data.tail()

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered
113,114,Fl,Flerovium,290.192,NaN,[Rn]7s2 7p2 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"6, 4,2, 1, 0",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,1998
114,115,Mc,Moscovium,290.196,NaN,[Rn]7s2 7p3 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"3, 1",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,2003
115,116,Lv,Livermorium,293.205,NaN,[Rn]7s2 7p4 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+4, +2, -2",Expected to be a Solid,NaN,NaN,NaN,Post-transition metal,2000
116,117,Ts,Tennessine,294.211,NaN,[Rn]7s2 7p5 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+5, +3, +1, -1",Expected to be a Solid,NaN,NaN,NaN,Halogen,2010
117,118,Og,Oganesson,295.216,NaN,[Rn]7s2 7p6 5f14 6d10 (predicted),NaN,NaN,NaN,NaN,"+6, +4, +2, +1, 0, -1",Expected to be a Gas,NaN,NaN,NaN,Noble gas,2006

In [10]:
periodic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   AtomicNumber           118 non-null    int64
 1   Symbol                 118 non-null    object
 2   Name                   118 non-null    object
 3   AtomicMass             118 non-null    float64
 4   CPKHexColor            108 non-null    object
 5   ElectronConfiguration  118 non-null    object
 6   Electronegativity      95 non-null     float64
 7   AtomicRadius           99 non-null     float64
 8   IonizationEnergy       102 non-null    float64
 9   ElectronAffinity       57 non-null     float64
 10  OxidationStates        117 non-null    object
 11  StandardState          118 non-null    object
 12  MeltingPoint           103 non-null    float64
 13  BoilingPoint           93 non-null     float64
 14  Density                96 non-null     float64
 15  GroupBlock             118 non-null    object
 16  YearDiscovered         118 non-null    object
dtypes: float64(8), int64(1), object(8)
memory usage: 15.8+ KB

In [11]:
periodic_data.describe()

,AtomicNumber,AtomicMass,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,MeltingPoint,BoilingPoint,Density
count,118.000000,118.000000,95.000000,99.000000,102.000000,57.000000,103.000000,93.000000,96.000000
mean,59.500000,146.564645,1.732316,209.464646,7.997255,1.072140,1273.740553,2536.212473,7.608001
std,34.207699,89.785686,0.635187,38.569130,3.339066,0.879163,888.853859,1588.410919,5.878692
min,1.000000,1.008000,0.700000,120.000000,3.894000,0.079000,0.950000,4.220000,0.000090
25%,30.250000,66.480000,1.290000,187.000000,6.020500,0.470000,516.040000,1180.000000,2.572500
50%,59.500000,142.573850,1.620000,209.000000,6.960000,0.754000,1191.000000,2792.000000,7.072000
75%,88.750000,226.777165,2.170000,232.000000,8.998500,1.350000,1806.500000,3618.000000,10.275250
max,118.000000,295.216000,3.980000,348.000000,24.587000,3.617000,3823.000000,5869.000000,22.570000

### Accessing Data

In [12]:
periodic_data.iloc[35] # index location # 36th row
# to slice a pandas dataframe using row and column numbers
# dataframe.iloc[row_slice, column_slice]

AtomicNumber                           36
Symbol                                 Kr
Name                              Krypton
AtomicMass                           83.8
CPKHexColor                        5CB8D1
ElectronConfiguration    [Ar]4s2 3d10 4p6
Electronegativity                       3
AtomicRadius                          202
IonizationEnergy                       14
ElectronAffinity                      NaN
OxidationStates                         0
StandardState                         Gas
MeltingPoint                       115.79
BoilingPoint                       119.93
Density                          0.003733
GroupBlock                      Noble gas
YearDiscovered                       1898
Name: 35, dtype: object

In [13]:
periodic_data.iloc[35, :]

AtomicNumber                           36
Symbol                                 Kr
Name                              Krypton
AtomicMass                           83.8
CPKHexColor                        5CB8D1
ElectronConfiguration    [Ar]4s2 3d10 4p6
Electronegativity                       3
AtomicRadius                          202
IonizationEnergy                       14
ElectronAffinity                      NaN
OxidationStates                         0
StandardState                         Gas
MeltingPoint                       115.79
BoilingPoint                       119.93
Density                          0.003733
GroupBlock                      Noble gas
YearDiscovered                       1898
Name: 35, dtype: object

In [14]:
periodic_data.iloc[35, :3]

AtomicNumber         36
Symbol               Kr
Name            Krypton
Name: 35, dtype: object

In [15]:
periodic_data.iloc[35:38, :3]

    AtomicNumber Symbol       Name
35            36     Kr    Krypton
36            37     Rb   Rubidium
37            38     Sr  Strontium

In [18]:
# Select 5th row
# Select row 30 to the end and the first three columns
# Select row 50 to the end every other row and columns 2 to 4

In [17]:
periodic_data.iloc[4]

AtomicNumber                       5
Symbol                             B
Name                           Boron
AtomicMass                     10.81
CPKHexColor                   FFB5B5
ElectronConfiguration    [He]2s2 2p1
Electronegativity               2.04
AtomicRadius                     192
IonizationEnergy               8.298
ElectronAffinity               0.277
OxidationStates                   +3
StandardState                  Solid
MeltingPoint                    2348
BoilingPoint                    4273
Density                         2.37
GroupBlock                 Metalloid
YearDiscovered                  1808
Name: 4, dtype: object

In [19]:
periodic_data.iloc[29:, :3]

     AtomicNumber Symbol         Name
29             30     Zn         Zinc
30             31     Ga      Gallium
31             32     Ge    Germanium
32             33     As      Arsenic
33             34     Se     Selenium
..            ...    ...          ...
113           114     Fl    Flerovium
114           115     Mc    Moscovium
115           116     Lv  Livermorium
116           117     Ts   Tennessine
117           118     Og    Oganesson

[89 rows x 3 columns]

In [22]:
periodic_data.iloc[49::2, 1:4]

    Symbol           Name  AtomicMass
49      Sn            Tin   118.71000
51      Te      Tellurium   127.60000
53      Xe          Xenon   131.29000
55      Ba         Barium   137.33000
57      Ce         Cerium   140.12000
59      Nd      Neodymium   144.24000
61      Sm       Samarium   150.40000
63      Gd     Gadolinium   157.20000
65      Dy     Dysprosium   162.50000
67      Er         Erbium   167.26000
69      Yb      Ytterbium   173.00000
71      Hf        Hafnium   178.49000
73       W       Tungsten   183.80000
75      Os         Osmium   190.20000
77      Pt       Platinum   195.08000
79      Hg        Mercury   200.59000
81      Pb           Lead   210.00000
83      Po       Polonium   208.98243
85      Rn          Radon   222.01758
87      Ra         Radium   226.02541
89      Th        Thorium   232.03800
91       U        Uranium   238.02890
93      Pu      Plutonium   244.06420
95      Cm         Curium   247.07035
97      Cf    Californium   251.07959
99      Fm        Fermium   257.09511
101     No       Nobelium   259.10100
103     Rf  Rutherfordium   267.12200
105     Sg     Seaborgium   269.12800
107     Hs        Hassium   269.13400
109     Ds   Darmstadtium   282.16600
111     Cn    Copernicium   286.17900
113     Fl      Flerovium   290.19200
115     Lv    Livermorium   293.20500
117     Og      Oganesson   295.21600

In [23]:
# To get a column information
# Dataframe["column_name"]

In [24]:
periodic_data.columns

Index(['AtomicNumber', 'Symbol', 'Name', 'AtomicMass', 'CPKHexColor',
       'ElectronConfiguration', 'Electronegativity', 'AtomicRadius',
       'IonizationEnergy', 'ElectronAffinity', 'OxidationStates',
       'StandardState', 'MeltingPoint', 'BoilingPoint', 'Density',
       'GroupBlock', 'YearDiscovered'],
      dtype='object')

In [25]:
periodic_data['AtomicMass']

0        1.008000
1        4.002600
2        7.000000
3        9.012183
4       10.810000
          ...
113    290.192000
114    290.196000
115    293.205000
116    294.211000
117    295.216000
Name: AtomicMass, Length: 118, dtype: float64

In [26]:
periodic_data[['AtomicMass', 'Symbol']]

     AtomicMass Symbol
0      1.008000      H
1      4.002600     He
2      7.000000     Li
3      9.012183     Be
4     10.810000      B
..          ...    ...
113  290.192000     Fl
114  290.196000     Mc
115  293.205000     Lv
116  294.211000     Ts
117  295.216000     Og

[118 rows x 2 columns]

In [28]:
# Third way - loc function
# loc function lets us use column and row names
# We can also rename row name with like symbols

In [35]:
periodic_data.loc[35, "Symbol"] # Name of row and column, not integer, or using index

'Kr'

In [37]:
periodic_data['BoilingPoint'] #convert kelvin to celsius

0        20.28
1         4.22
2      1615.00
3      2744.00
4      4273.00
        ...
113        NaN
114        NaN
115        NaN
116        NaN
117        NaN
Name: BoilingPoint, Length: 118, dtype: float64

In [40]:
periodic_data['BoilingPoint'] - 273.15 # Called Broadcasting, without writing a for loop

0      -252.87
1      -268.93
2      1341.85
3      2470.85
4      3999.85
        ...
113        NaN
114        NaN
115        NaN
116        NaN
117        NaN
Name: BoilingPoint, Length: 118, dtype: float64

In [42]:
# Saving into new column

In [43]:
periodic_data["BoilingPointC"] = periodic_data['BoilingPoint'] - 273.15

In [44]:
periodic_data.head()

,AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered,BoilingPointC
0,1,H,Hydrogen,1.008000,FFFFFF,1s1,2.20,120.0,13.598,0.754,"+1, -1",Gas,13.81,20.28,0.000090,Nonmetal,1766,-252.87
1,2,He,Helium,4.002600,D9FFFF,1s2,NaN,140.0,24.587,NaN,0,Gas,0.95,4.22,0.000179,Noble gas,1868,-268.93
2,3,Li,Lithium,7.000000,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.00,0.534000,Alkali metal,1817,1341.85
3,4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,NaN,+2,Solid,1560.00,2744.00,1.850000,Alkaline earth metal,1798,2470.85
4,5,B,Boron,10.810000,FFB5B5,[He]2s2 2p1,2.04,192.0,8.298,0.277,+3,Solid,2348.00,4273.00,2.370000,Metalloid,1808,3999.85

In [45]:
# Save new dataframe
periodic_data.to_csv('periodic_table_processed.csv', index = False)

In [46]:
!head -n 5 periodic_table_processed.csv

AtomicNumber,Symbol,Name,AtomicMass,CPKHexColor,ElectronConfiguration,Electronegativity,AtomicRadius,IonizationEnergy,ElectronAffinity,OxidationStates,StandardState,MeltingPoint,BoilingPoint,Density,GroupBlock,YearDiscovered,BoilingPointC
1,H,Hydrogen,1.008,FFFFFF,1s1,2.2,120.0,13.597999999999999,0.754,"+1, -1",Gas,13.81,20.28,8.988e-05,Nonmetal,1766,-252.86999999999998
2,He,Helium,4.0026,D9FFFF,1s2,,140.0,24.587,,0,Gas,0.95,4.22,0.0001785,Noble gas,1868,-268.92999999999995
3,Li,Lithium,7.0,CC80FF,[He]2s1,0.98,182.0,5.392,0.618,+1,Solid,453.65,1615.0,0.534,Alkali metal,1817,1341.85
4,Be,Beryllium,9.012183,C2FF00,[He]2s2,1.57,153.0,9.323,,+2,Solid,1560.0,2744.0,1.85,Alkaline earth metal,1798,2470.85